<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://da140110.github.com/qlgameonline/app.ipa</string>
		<key>displayImageURL</key>
		<string>https://da140110.github.com/qlgameonline/image1.png</string>
		<key>fullSizeImageURL</key>
		<string>https://da140110.github.com/qlgameonline/image2.png</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>V44DR3X953</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
